<!-- begin detail-order -->
<div class="detail-order">
	<div class="title-count green mb-20">Остаток на складе — 122шт.</div>
	<div class="small-title">Цена за штуку</div>

	<div class="">
		<div class="price">
			<div class="price__old">1 290 р.</div>
			<div class="price__current red">990 Р.</div>
		</div>

		<div class="stock stock--bg-red">Скидка 20%</div>
	</div>

	<form action="" class="detail-add-basket">

		<fieldset class="uk-flex">
			<div class="calc-control">
				<span class="minus">—</span>
				<input type="text" class="calc-control__value" value="1">
				<span class="plus">+</span>
			</div>

			<button type="submit" class="btn btn-add-cart icon-cart">Купить</button>
		</fieldset>
	</form>

	<div class="detail-card-section">
		<a href="#fast-order" class="fast-buy" uk-toggle>Купить в один клик</a>
	</div>

	<div class="detail-card-section">
		<div class="accordion-block">
			<div class="accordion-block__title accordion-block__title--small  open">Доставка</div>
			<div class="accordion-block__desc">
				<table class="small-table">
					<tr>
						<td>Город</td>
						<td>0 р.*</td>
					</tr>
					<tr>
						<td>Область</td>
						<td>от 1 400 р.</td>
					</tr>
					<tr>
						<td>Самовывоз со склада</td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="detail-card-section">
		<div class="accordion-block">
			<div class="accordion-block__title accordion-block__title--small ">Оплата</div>
			<div class="accordion-block__desc hidden"></div>
		</div>
	</div>
	<div class="detail-card-section">
		<div class="accordion-block">
			<div class="accordion-block__title accordion-block__title--small ">Установка</div>
			<div class="accordion-block__desc hidden"></div>
		</div>
	</div>

</div>
<!-- end detail-order -->
