<!DOCTYPE html>
<html lang="ru">
	{% include "../includes/head.twig" %}
	<body>
		<div class="page-wrapper">
			{% include "../includes/header.twig" %}
			{% include "../includes/components/breadcrumbs.twig" %}
			<main class="main">
				<div class="container">
					<div class="uk-grid">
						<div class="uk-width-1-6@m"> {% block leftSide %}{% endblock %}
							</div>
							<div class="uk-width-5-6@m"> {% block content %}{% endblock %}
								</div>
							</div>
						</div>
					</main>
					{% include "../includes/footer.twig" %}
				</div>
				{% include "../includes/components/modals/index.twig" %}
				{% include "../includes/scripts.twig" %}
			</body>
		</html>
