<!-- begin detail-card-desc -->
<div class="detail-card-desc">
	<h1 class="title-h2">Президент люкс</h1>

	<div class="detail-card-section">
		<div class="uk-grid">
			<div class="uk-width-1-2">
				<div class="small-gray-title">Размер полотна, мм</div>
				<ul class="sizes-list">
					<li class="sizes-list__item">
						<a href="#" class="sizes-list__link active">2050 x 880</a>
					</li>
					<li class="sizes-list__item">
						<a href="#" class="sizes-list__link">2050 x 960</a>
					</li>
				</ul>
			</div>
			<div class="uk-width-1-2">
				<div class="small-gray-title">Тип открывания</div>

				<div class="radio-list">
					<label for="radio-1" class="custom-radio">
						<input id="radio-1" type="radio" name="radio-type" checked>
						<span class="custom-radio__input"></span>
						<span class="custom-radio__label">Правая</span>
					</label>

					<label for="radio-2" class="custom-radio">
						<input id="radio-2" type="radio" name="radio-type">
						<span class="custom-radio__input"></span>
						<span class="custom-radio__label">Левая</span>
					</label>
				</div>
			</div>
		</div>

		<a href="#call-spec" class="link-size" uk-toggle>Вызвать замерщика</a>
	</div>

	<div class="detail-card-section">
		<div class="accordion-block">
			<div class="accordion-block__title open">Основной замок</div>
			<div class="accordion-block__desc">
				<div class="radio-list">
					<label for="radio-3" class="custom-radio">
						<input id="radio-3" type="radio" name="radio-type-2" checked>
						<span class="custom-radio__input"></span>
						<span class="custom-radio__label">Меттем 347</span>
					</label>

					<label for="radio-4" class="custom-radio">
						<input id="radio-4" type="radio" name="radio-type-2">
						<span class="custom-radio__input"></span>
						<span class="custom-radio__label">Кале 252
							<div class="tooltip-block">
								<div class="tooltip-block__icon">i</div>

								<div class="tooltip-block__modal">
									<div class="tooltip-block__modal-img">
										<img src="img/media/tooltip-img.png" width="128" height="135" alt="" loading="lazy">
									</div>
									<div class="tooltip-block__modal-desc">
										<div class="tooltip-block__modal-price">4 873 р.</div>
										<div class="tooltip-block__modal-count">
											<span class="red">Остаток на складе — 2 шт.</span>
										</div>

										<div class="tooltip-block__modal-type">Добор 200мм</div>
										<table class="tooltip-block__modal-table">
											<tr>
												<td>Производитель:</td>
												<td>MORELLI</td>
											</tr>
											<tr>
												<td>Размеры:</td>
												<td>10х200х2070 мм
												</td>
											</tr>
											<tr>
												<td>Материал:</td>
												<td>Экошпон 3D
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</span>
					</label>

					<label for="radio-5" class="custom-radio">
						<input id="radio-5" type="radio" name="radio-type-2">
						<span class="custom-radio__input"></span>
						<span class="custom-radio__label">Cisa 57/665</span>
					</label>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- end detail-card-desc -->
