{% extends "../layouts/main.twig" %}
{% set title = "Президент X7" %}
{% set bread = ['Главная', 'Каталог', 'Ульяновские межкомнатные двери', 'Президент X7'] %}
{% set gridActive = true %}
{% set colors = [
  '#D7D7D7',
  '#888279',
  '#3C2821',
  '#83888C',
  '#833435',
  '#ffffff',
  '#35261D',
  '#804423',
  '#804423',
  '#804423',
] %}

{% block content %}

	<!-- begin detail-page -->
	<section class="detail-page">
		{% include "../includes/detail/detail-card.twig" %}
		{% include "../includes/detail/detail-more-info.twig" %}
	</section>
	<!-- end detail-page -->

{% endblock %}
