{% extends "../layouts/default.twig" %}
{% set title="Главная" %}

{% block content %}
	<div class="container">Hello</div>
	{% include "../includes/sections/section-advantages.twig" %}
{% endblock %}
