{% extends "../layouts/main.twig" %}
{% set title = "Каталог" %}
{% set bread = ['Главная', 'Магазины'] %}

{% block content %}

	<!-- begin section-stores -->
	<div class="section-stores">
		<div class="container">
			<div class="top-description uk-margin-medium-bottom">
				<div class="uk-grid">
					<div class="uk-width-1-3@s">
						<div class="top-description__left-side">
							<h1 class="title-h1">Магазины</h1>
						</div>

					</div>
					<div class="uk-width-expand@s">
						<div class="top-description__right-side">
							<p>Мы приглашаем Вас посетить один из наших фирменных магазинов, удобно расположенных в крупных ТЦ города Москвы.</p>
							<p>Наши специалисты помогут Вам выбрать модель двери, которая идеально впишется в будущий интерьер Вашего дома и будет радовать Вас многие годы. Мастера сервисной службы профессионально и в кратчайшие сроки доставят и установят двери, приобретенные Вами.</p>
							<p>Желаем Вам приятных приобретений!</p>
						</div>
					</div>
				</div>
			</div>

			<div class="h-panel border-bottom uk-padding-remove-top uk-margin-large-bottom">
				<form action="" class="default-form stores-form">
					<div class="form-group">
						<div class="uk-grid">
							<div class="uk-width-1-2@s">
								<label for="s-form-city">Город</label>
								<div class="custom-select">
									<select name="city" id="s-form-city" class="js__custom-select" data-theme="default" data-placeholder="Все" data-width="100%">
										<option></option>
										<option value="1">Москва</option>
										<option value="2">Санкт-Петербург</option>
										<option value="3">Ростов</option>
									</select>
								</div>
							</div>
							<div class="uk-width-1-2@s">
								<label for="s-form-metro">Метро</label>
								<div class="custom-select">
									<select name="metro" id="s-form-metro" class="js__custom-select" data-theme="default" data-placeholder="Все" data-width="100%">
										<option></option>
										<option value="1">Киевская</option>
										<option value="2">Курская</option>
										<option value="3">Чертановская</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="btns-wrapper">
						<button class="btn btn--lg" type="submit">Применить</button>
						<button class="btn btn--white" type="reset">Очистить</button>
					</div>
				</form>
			</div>

			<div class="store">
				<div class="uk-grid">
					<div class="uk-width-1-3@m">
						<div class="title-h2">центральный склад</div>

						<div class="store-info">
							<div class="info-pin">
								<p class="uk-margin-small-bottom">ОФИС-СКЛАД СТРОГИНО</p>
								<div class="small-text">Москва, район Строгино, ул. Маршала Прошлякова, вл. 6</div>
								<div class="small-text gray">3 минуты от метро Сходненская</div>
							</div>

							<div class="info-tel">
								<div class="small-title">Контакты</div>
								<a href="tel:+74566289478" class="big-number">+7 (456) 628-94-78</a>
								<a href="mailto:info@dverilupit.online" class="blue">info@dverilupit.online</a>
							</div>

							<div class="info-timework">
								<div class="small-title">Режим работы</div>
								<div class="small-text uk-margin-small-bottom">Понедельник — воскресенье
									<br>
									с 10:00 до 22:00</div>
								<div class="small-title">Режим работы склада</div>
								<div class="small-text">
									Понедельник — пятница: с 9:00 до 18:00
									<br>
									Суббота: с 9:00 до 17:00
									<br>
									Воскресенье: выходной
								</div>
							</div>
						</div>
					</div>
					<div class="uk-width-2-3@m">
						<div
							id="map">{# 	<img src="img/media/map.png" alt=""> #}
						</div>
					</div>
				</div>
			</div>

			<ul class="store-addres-list">
				<li>
					<div class="info-pin">
						<p class="uk-margin-small-bottom">ТРЦ ГОРОД ШОССЕ ЭНТУЗИАСТОВ</p>
						<div class="small-text">Шоссе Энтузиастов д.12 к.2, Галерея Декора, 3 этаж "Двери Регионов"</div>
						<a href="#" class="blue js__goto-map" data-goto="55.747368, 37.707107">Посмотреть на карте</a>
					</div>
					<div class="info-tel">
						<div class="small-title">Контакты</div>
						<a href="tel:+74566289478" class="big-number">+7 (456) 628-94-78</a>
						<a href="mailto:info@dverilupit.online" class="blue">info@dverilupit.online</a>
					</div>
					<div class="info-timework">
						<div class="small-title">Режим работы</div>
						<div class="small-text uk-margin-small-bottom">Понедельник — воскресенье
							<br>
							с 10:00 до 22:00</div>
					</div>

				</li>

				<li>
					<div class="info-pin">
						<p class="uk-margin-small-bottom">Другое местоположение</p>
						<div class="small-text">Шоссе Энтузиастов д.12 к.2, Галерея Декора, 3 этаж "Двери Регионов"</div>
						<a href="#" class="blue js__goto-map">Посмотреть на карте</a>
					</div>
					<div class="info-tel">
						<div class="small-title">Контакты</div>
						<a href="tel:+74566289478" class="big-number">+7 (456) 628-94-78</a>
						<a href="mailto:info@dverilupit.online" class="blue">info@dverilupit.online</a>
					</div>
					<div class="info-timework">
						<div class="small-title">Режим работы</div>
						<div class="small-text uk-margin-small-bottom">Понедельник — воскресенье
							<br>
							с 10:00 до 22:00</div>
					</div>

				</li>

				<li>
					<div class="info-pin">
						<p class="uk-margin-small-bottom">Другое местоположение</p>
						<div class="small-text">Шоссе Энтузиастов д.12 к.2, Галерея Декора, 3 этаж "Двери Регионов"</div>
						<a href="#" class="blue js__goto-map">Посмотреть на карте</a>
					</div>
					<div class="info-tel">
						<div class="small-title">Контакты</div>
						<a href="tel:+74566289478" class="big-number">+7 (456) 628-94-78</a>
						<a href="mailto:info@dverilupit.online" class="blue">info@dverilupit.online</a>
					</div>
					<div class="info-timework">
						<div class="small-title">Режим работы</div>
						<div class="small-text uk-margin-small-bottom">Понедельник — воскресенье
							<br>
							с 10:00 до 22:00</div>
					</div>

				</li>
			</ul>

		</div>
	</div>
	<!-- end section-stores -->

{% endblock %}
