<!-- begin about-company -->
<section class="about-company">
	<div class="container">
		<div class="uk-grid">
			<div class="uk-width-1-3@s">
				<div class="title-h2">О нашей
					<br>
					компании</div>
			</div>
			<div class="uk-width-2-3@s">
				<div class="about-company__text">
					<p>
						Наш интернет-магазин представляет вашему вниманию большой и исчерпывающий ассортимент дверей. Здесь каждый сможет подобрать для себя именно то изделие, которое максимально отвечает технологическим требованиям и личным пожеланиям клиента. Наше основное конкурентное преимущество — это низкая цена в совокупности 
																																																																																				            с высоким качеством.
					</p>
				</div>
			</div>
			<div class="uk-width-1-1 uk-visible@m">
				<ul class="about-company__list uk-child-width-1-3@m uk-grid-collapse" uk-grid>
					<li class="about-company__list-item">
						<div class="about-company__item">
							<div class="about-company__item-img">
								<svg width="64px" height="64px" class="consult">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#consult"></use>
								</svg>
							</div>
							<div class="about-company__item-desc">
								<div class="about-company__item-title">Консультация</div>
								<div class="about-company__item-text">Rutrum vivamus sit libero sed in id integer pharetra.</div>
							</div>
						</div>
					</li>
					<li class="about-company__list-item">
						<div class="about-company__item">
							<div class="about-company__item-img">
								<svg width="64px" height="64px" class="fast">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#fast"></use>
								</svg>
							</div>
							<div class="about-company__item-desc">
								<div class="about-company__item-title">Оперативность</div>
								<div class="about-company__item-text">Enim non eget arcu scelerisque dui, est etiam.</div>
							</div>
						</div>
					</li>
					<li class="about-company__list-item">
						<div class="about-company__item">
							<div class="about-company__item-img">
								<svg width="64px" height="64px" class="guarantee">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#guarantee"></use>
								</svg>
							</div>
							<div class="about-company__item-desc">
								<div class="about-company__item-title">Гарантии</div>
								<div class="about-company__item-text">Rutrum vivamus sit libero sed in id integer pharetra.</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- end about-company -->
