<!-- begin promo-products -->
<section class="promo-products">
  <div class="container">
    <div class="uk-grid">
      <div class="uk-width-2-3@m">
        <div class="uk-grid">
          <div class="uk-width-2-5@m">
            <a href="" class="promo-products__item">
              <picture class="promo-products__img">
                <source srcset="img/media/webp/promo-product-1.webp" type="image/webp">
                <source srcset="img/media/promo-product-1.png" type="image/png">
                <img src="img/media/promo-product-1.png" width="335" height="380" alt="Ульяновские двери" loading="lazy">
              </picture>
              <div class="promo-products__desc">
                <div class="promo-products__title">Ульяновские двери</div>
                <div class="promo-products__price">от  5 090 Р.</div>
              </div>
            </a>
          </div>
          <div class="uk-width-3-5@m">
            <a href="" class="promo-products__item">
              <picture class="promo-products__img">
                <source srcset="img/media/webp/promo-product-2.webp" type="image/webp">
                <source srcset="img/media/promo-product-2.png" type="image/png">
                <img src="img/media/promo-product-2.png" width="512" height="380" alt="Двери эконом" loading="lazy">
              </picture>
              <div class="promo-products__desc">
                <div class="promo-products__title">Двери Эконом</div>
                <div class="promo-products__price">от  1 990 Р.</div>
              </div>
            </a>
          </div>
          <div class="uk-width-1-1">
            <a href="" class="promo-products__item">
              <picture class="promo-products__img">
                <source srcset="img/media/webp/promo-product-3.webp" type="image/webp">
                <source srcset="img/media/promo-product-3.png" type="image/png">
                <img src="img/media/promo-product-3.png" width="867" height="380" alt="Интерьерные двери UBERTURE" loading="lazy">
              </picture>
              <div class="promo-products__desc">
                <div class="promo-products__title">Интерьерные двери UBERTURE</div>
                <div class="promo-products__price">от  7 290 Р.</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="uk-width-1-3@m">
        <a href="" class="promo-products__item promo-products__item--full-height">
          <picture class="promo-products__img promo-products__img">
            <source srcset="img/media/webp/promo-product-4.webp" type="image/webp">
            <source srcset="img/media/promo-product-4.png" type="image/png">
            <img src="img/media/promo-product-4.png"  width="423" height="780" alt="Белорусские двери Porte Vista" loading="lazy">
          </picture>
          <div class="promo-products__desc">
            <div class="promo-products__title">Белорусские двери Porte Vista</div>
            <div class="promo-products__price">от  2 990 Р.</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section><!-- end promo-products -->
