<!-- begin section-advantages -->
<section class="section-advantages">
	<div class="container">
		<ul class="advantages-list uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid>
			<li class="advantages-list__item-wrapper">
				<div class="advantages-list__item">
					<div class="advantages-list__img">
						<svg width="64px" height="42px" class="icon-delivery">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#delivery"></use>
						</svg>
					</div>
					<div class="advantages-list__desc">
						<div class="advantages-list__title">Доставка</div>
						<div class="advantages-list__text">
							Доставка от 1500 рублей в пределах МКАД. Возим и в Подмосковье и в Регионы!
						</div>
					</div>
				</div>
			</li>

			<li class="advantages-list__item-wrapper">
				<div class="advantages-list__item">
					<div class="advantages-list__img">
						<svg width="60px" height="56px" class="icon-pay">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#pay"></use>
						</svg>
					</div>
					<div class="advantages-list__desc">
						<div class="advantages-list__title">Оплата</div>
						<div class="advantages-list__text">
							Любая форма оплаты! Наличными, картами, обслуживание юрлиц.
						</div>
					</div>
				</div>
			</li>

			<li class="advantages-list__item-wrapper">
				<div class="advantages-list__item">
					<div class="advantages-list__img">
						<svg width="51px" height="60px" class="icon-self">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#self"></use>
						</svg>
					</div>
					<div class="advantages-list__desc">
						<div class="advantages-list__title">Самовывоз</div>
						<div class="advantages-list__text">
							м. Строгино, ул. Маршала Прошлякова, вл. 6
						</div>
					</div>
				</div>
			</li>

			<li class="advantages-list__item-wrapper">
				<div class="advantages-list__item">
					<div class="advantages-list__img">
						<svg width="40px" height="60px" class="icon-set">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#set"></use>
						</svg>
					</div>
					<div class="advantages-list__desc">
						<div class="advantages-list__title">Установка</div>
						<div class="advantages-list__text">
							Установка межкомнатных и металлических дверей от 3000 рублей.
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
<!-- end section-advantages -->
