<!-- begin section-news -->
<section class="section-news">
  <div class="container">
    <div class="section-news__inner">
      <div class="title-h2 uk-text-center">Новости</div>
      {% include "../components/news-list.twig" %}
    </div>
  </div>
</section><!-- end section-news -->
