<!-- begin section-stock -->
<section class="section-stock">
  <div class="container">
    <div class="section-stock__inner">
      <h2 class="uk-text-center">Товары по акции</h2>
  
      {% include "../components/product-slider.twig" %}
      
      <div class="btn-wrapper uk-text-center">
        <a href="" class="btn">Все товары по акции</a>
      </div>
    </div>
  </div>
</section><!-- end section-stock -->
