<!-- begin section-reviews -->
<section class="section-reviews">
	<div class="container">
		<div class="title-h2 uk-text-center">Отзывы</div>
		{% include "../components/reviews-slider.twig" %}
	</div>
</section>
<!-- end section-reviews -->
