<!-- begin similar-products -->
<secction class="similar-products section-default">
	<div class="container">
		<div class="similar-section__inner">
			<h2 class="title-h2">Сопутствующие товары</h2>
			<div class="short-card-list-wrapper ">
				<ul class="short-cards-list uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l" uk-grid>
					<li class="short-cards-list__item-wrapper">
						<div class="short-card">
							<div class="short-card__img">
								<figure>
									<picture>
										<source srcset="img/media/webp/catalog-main-img-1.webp" type="image/webp">
										<source srcset="img/media/catalog/catalog-main-img-1.png" type="image/png">
										<img src="img/media/catalog/catalog-main-img-1.png" width="325" height="252" alt="" loading="lazy">
									</picture>
								</figure>
							</div>
							<div class="short-card__desc">
								<a href="" class="short-card__title">входные двери</a>
								<div class="short-card__count">145 товаров</div>
							</div>
						</div>
					</li>

					<li class="short-cards-list__item-wrapper">
						<div class="short-card">
							<div class="short-card__img">
								<figure>
									<picture>
										<source srcset="img/media/webp/catalog-main-img-2.webp" type="image/webp">
										<source srcset="img/media/catalog/catalog-main-img-2.png" type="image/png">
										<img src="img/media/catalog/catalog-main-img-2.png" width="325" height="252" alt="" loading="lazy">
									</picture>
								</figure>
							</div>
							<div class="short-card__desc">
								<a href="" class="short-card__title">Межкомнатные двери</a>
								<div class="short-card__count">206 товаров</div>
							</div>
						</div>
					</li>

					<li class="short-cards-list__item-wrapper">
						<div class="short-card">
							<div class="short-card__img">
								<figure>
									<picture>
										<source srcset="img/media/webp/catalog-main-img-3.webp" type="image/webp">
										<source srcset="img/media/catalog/catalog-main-img-3.png" type="image/png">
										<img src="img/media/catalog/catalog-main-img-3.png" width="325" height="252" alt="" loading="lazy">
									</picture>
								</figure>
							</div>
							<div class="short-card__desc">
								<a href="" class="short-card__title">комлектующие к дверям</a>
								<div class="short-card__count">1 189 товаров</div>
							</div>
						</div>
					</li>

					<li class="short-cards-list__item-wrapper">
						<div class="short-card">
							<div class="short-card__img">
								<figure>
									<picture>
										<source srcset="img/media/webp/catalog-main-img-4.webp" type="image/webp">
										<source srcset="img/media/catalog/catalog-main-img-4.png" type="image/png">
										<img src="img/media/catalog/catalog-main-img-4.png" width="325" height="252" alt="" loading="lazy">
									</picture>
								</figure>
							</div>
							<div class="short-card__desc">
								<a href="" class="short-card__title">фурнитура</a>
								<div class="short-card__count">4 578 товаров</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</secction>
<!-- end similar-products -->
