<!-- begin section-default -->
<section class="section-default">
	<div class="container">
		<div class="section-default__inner">
			<h2>Двери этой серии</h2>

			{% include "../components/product-slider.twig" %}
		</div>
	</div>
</section>
<!-- end section-default -->
