@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/suisseIntl/SuisseIntl-Regular.woff") format("woff"),
    url("../fonts/suisseIntl/SuisseIntl-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/suisseIntl/SuisseIntl-Medium.woff") format("woff"),
    url("../fonts/suisseIntl/SuisseIntl-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/suisseIntl/SuisseIntl-Bold.woff") format("woff"),
    url("../fonts/suisseIntl/SuisseIntl-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@import "icomoon.scss";
