.container {
  margin: 0 auto;
  max-width: $containerWidth;

  @media (min-width: $mob-xs) {
    padding: 0 #{$gutter - 5px};
  }

  @media (min-width: $desk-w) {
    padding: 0 $gutter;
  }

  .container {
    padding: 0;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-header {
  flex-grow: 0;
}

.main {
  flex-grow: 1;
}

.footer {
  flex-grow: 0;
}

.uk-grid {
  @media (min-width: $mob-xs) {
    margin-left: -15px;
  }

  @media (min-width: $desk-w) {
    margin-left: -20px;
  }

  & > * {
    padding-left: 15px;

    @media (min-width: $desk-w) {
      padding-left: 20px;
    }
  }

  &.uk-grid-collapse {
    margin-left: 0;
    & > * {
      padding-left: 0;
    }
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.border-none {
  border: none !important;
}

.h-panel {
  padding: 20px 0;

  @media (min-width: $tablet-w) {
    padding: 40px 0;
  }
}

.border-vertical {
  border-top: 1px solid $mediumGray;
  border-bottom: 1px solid $mediumGray;
}

.border-bottom {
  border-bottom: 1px solid $mediumGray;
}

.uk-padding-small-bottom {
  padding-bottom: 20px;
}

.uk-padding-small-top {
  padding-top: 20px;
}

.overflow-x-container {
  overflow-x: auto;
  overflow-y: visible;
}

@media (min-width: $desk-w) {
  .uk-margin-large-bottom {
    margin-bottom: 80px !important;
  }
}
