.section-advantages {
  padding: 40px 0 20px;
  background-color: $black;
}

.section-default {
  margin-bottom: 40px;

  @media (min-width: $tablet-w) {
    margin-bottom: 80px;
  }

  h2,
  .title-h2 {
    margin-bottom: 40px;
  }

  &__inner {
    padding-bottom: 40px;
    @media (min-width: $tablet-w) {
      padding-bottom: 80px;
    }
    border-bottom: 1px solid $black;
  }
}

.section-stock {
  margin-bottom: 40px;

  @media (min-width: $tablet-w) {
    margin-bottom: 80px;
  }

  h2 {
    margin-bottom: 40px;

    @media (min-width: $tablet-w) {
      margin-bottom: 80px;
    }
  }

  &__inner {
    padding-bottom: 80px;
    border-bottom: 1px solid $black;
  }
}

.section-news {
  margin-bottom: 40px;

  @media (min-width: $tablet-w) {
    margin-bottom: 80px;
  }

  &__inner {
    border-bottom: 1px solid $black;
  }

  .title-h2 {
    margin-bottom: 40px;

    @media (min-width: $tablet-w) {
      margin-bottom: 80px;
    }
  }
}

.about-company {
  padding-bottom: 20px;
  .title-h2 {
    margin-bottom: 20px !important;
  }

  &__text {
    @media (min-width: $mob-s) {
      padding-left: 13%;

      border-left: 1px solid $mediumGray;
    }
  }

  &__list {
    @include list-reset;
    margin-top: 80px;
    padding: 45px 0 25px;
    border-top: 1px solid $mediumGray;
  }

  &__item {
    max-width: 300px;
    display: flex;
    align-items: center;
  }

  &__item-img {
    margin-right: 20px;
    flex-shrink: 0;
  }

  &__item-title {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 18px;
  }

  &__item-text {
    font-size: 14px;
    line-height: 16px;
    color: $darkGray;
  }
}

.section-reviews {
  padding: 40px 0;
  background-color: $gray;

  @media (min-width: $tablet-w) {
    padding: 80px 0;
  }

  .title-h2 {
    margin-bottom: 40px;

    @media (min-width: $tablet-w) {
      margin-bottom: 80px;
    }
  }
}

.similar-products {
  .short-cards-list {
    &:after {
      display: none;
    }
  }
}

.section-brands {
  margin-bottom: 40px;
}

.news-block {
  @media (min-width: $tablet-w) {
    padding-left: 20px;
  }
}

.news-block__list {
  .uk-grid {
    & > div {
      &:last-child {
        .post-news {
          padding-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }
}

.page-not-found {
  .title-h1 {
    margin-bottom: 0;
  }
}

.section-stores {
  padding-bottom: 40px;
}

.section-order {
  padding-bottom: 40px;
}

.section-account {
  padding-bottom: 40px;
}

.account-content {
  @media (min-width: $tablet-w) {
    padding-left: 20px;
  }

  .card {
    .add-favorite {
      opacity: 1;
      visibility: visible;
    }
  }
}
