h1,
.title-h1,
h2,
.title-h2,
h3,
.title-h3 {
  margin-top: 0;
  text-transform: uppercase;
}

h1,
.title-h1 {
  margin-bottom: 40px;
  font-weight: 700;
  @media (min-width: $mob-xs) {
    font-size: calc(30px + (48 - 30) * ((100vw - #{$mob-xs}) / (1200 - 320)));

    line-height: calc(34px + (56 - 34) * ((100vw - #{$mob-xs}) / (1200 - 320)));
  }

  @media (min-width: $desk-w) {
    font-size: 48px;
    line-height: 56px;
  }
}

h2,
.title-h2 {
  margin-bottom: 20px;
  font-weight: 700;
  @media (min-width: $mob-xs) {
    font-size: calc(24px + (30 - 24) * ((100vw - #{$mob-xs}) / (1200 - 320)));

    line-height: calc(28px + (36 - 28) * ((100vw - #{$mob-xs}) / (1200 - 320)));
  }

  @media (min-width: $desk-w) {
    font-size: 30px;
    line-height: 36px;
  }
}

h3,
.title-h3 {
  margin-bottom: 20px;

  @media (min-width: $mob-xs) {
    font-size: calc(24px + (30 - 24) * ((100vw - #{$mob-xs}) / (1200 - 320)));

    line-height: calc(28px + (36 - 28) * ((100vw - #{$mob-xs}) / (1200 - 320)));
  }

  @media (min-width: $desk-w) {
    font-size: 24px;
    line-height: 28px;
  }
}

p {
  @media (min-width: $mob-xs) {
    font-size: calc(14px + (20 - 14) * ((100vw - #{$mob-xs}) / (1200 - 320)));

    line-height: calc(20px + (30 - 20) * ((100vw - #{$mob-xs}) / (1200 - 320)));
  }

  @media (min-width: $desk-w) {
    font-size: 20px;
    line-height: 30px;
  }
}

a {
  font-size: 16px;
  line-height: 18px;
  color: $black;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: $blue;
    text-decoration: none;
  }

  &.blue-link {
    color: $blue;
    font-size: 14px;
    line-height: 16px;
  }

  &.gray-link {
    color: $darkGray;

    &:hover {
      color: $white;
    }
  }
}

ul:not([class]) {
  margin: 0 0 40px;
  font-size: 20px;
  line-height: 30px;
}

ol:not([class]) {
  margin: 0 0 40px;
  font-size: 20px;
  line-height: 30px;
  list-style: none;
  counter-reset: item;

  li {
    position: relative;
    padding-left: 34px;

    &:before {
      counter-increment: item;
      content: counter(item);
      position: absolute;
      top: 4px;
      left: 0;
      width: 24px;
      height: 24px;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      display: block;
      color: $white;
      background-color: $black;
      border-radius: 50%;
    }
  }
}

blockquote {
  margin: 0 0 40px;
  padding: 20px;
  background-color: #f6f6f6;

  @media (min-width: $mob-xs) {
    font-size: calc(20px + (30 - 20) * ((100vw - #{$mob-xs}) / (1200 - 320)));

    line-height: calc(30px + (36 - 30) * ((100vw - #{$mob-xs}) / (1200 - 320)));
  }

  @media (min-width: $tablet-w) {
    padding: 30px;
  }

  @media (min-width: $desk-w) {
    padding: 40px;
    font-size: 30px;
    line-height: 36px;
  }

  .author {
    margin-top: 20px;
    font-size: 16px;
    line-height: 18px;
    color: $darkGray;
  }
}
