$mob-xs: 320px;
$mob-s: 640px;
$tablet-w: 960px;
$desk-w: 1200px;

$mainFont: "SuisseIntl";
$fontSize: 20px;
$lineHeight: 30px;

$black: #333333;
$white: #ffffff;
$blue: #365edc;
$lightBlue: #496fe4;
$red: #dd3e40;
$green: #6aa73a;
$gray: #f6f6f6;
$mediumGray: #e4e4e4;
$darkGray: #828282;

$containerWidth: 1410px;
$gutter: 25px;
