<div class="left-block uk-visible@m">
	<ul class="vertical-menu">
		<li class="vertical-menu__item">
			<a href="#" class="vertical-menu__link">О компании</a>
		</li>
		<li class="vertical-menu__item">
			<a href="#" class="vertical-menu__link">Оплата и доставка</a>
		</li>
		<li class="vertical-menu__item">
			<a href="#" class="vertical-menu__link">Возврат</a>
		</li>
		<li class="vertical-menu__item">
			<a href="#" class="vertical-menu__link">Гарантии</a>
		</li>
		<li class="vertical-menu__item">
			<a href="#" class="vertical-menu__link">Отзывы</a>
		</li>
		<li class="vertical-menu__item">
			<a href="#" class="vertical-menu__link">Вопрос-ответ</a>
		</li>
		<li class="vertical-menu__item">
			<a href="#" class="vertical-menu__link">Акции</a>
		</li>
		<li class="vertical-menu__item parent">
			<a href="#" class="vertical-menu__link">Новости
				<i class="icon-chevron-right js__toggle-sublist"></i>
			</a>
			<ul class="sublist">
				<li class="sublist__item">
					<a href="#" class="sublist__link">Новость 1</a>
				</li>
				<li class="sublist__item">
					<a href="#" class="sublist__link">Новость 2</a>
				</li>
				<li class="sublist__item">
					<a href="#" class="sublist__link">Новость 3</a>
				</li>
				<li class="sublist__item">
					<a href="#" class="sublist__link">Новость 4</a>
				</li>
				<li class="sublist__item">
					<a href="#" class="sublist__link">Новость 5</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
