<!-- begin mobile-nav -->
<ul class="mobile-nav">
	<li>
		<a href="#" class="icon-search js__toggle-mobile-search"></a>
	</li>
	<li>
		<div class="basket-mobile">
			<a href="#" class="icon-cart">
				<span class="basket-mobile__count">2</span>
			</a>
		</div>
	</li>
	<li>
		<a href="#" class="icon-user"></a>
	</li>
	<li>
		<a href="#" class="icon-burger" uk-toggle="target: #offcanvas-menu"></a>
	</li>
</ul>
<!-- end mobile-nav -->
