<!-- begin news-block -->
<section class="news-block">
	<div class="container">
		<h1 class="title-h1 uk-margin-large-bottom">Новости</h1>

		<div class="news-block__body">
			<div class="news-block__list">

				<div class="uk-grid">
					<div class="uk-width-1-1">
						<article class="post-news post-news--horizontal">
							<div class="post-news__content">
							  <div class="post-news__img">
  								<figure>
  									<picture>
  										<source srcset="img/media/webp/news-img-4.webp" type="image/webp">
  										<source srcset="img/media/news-img-4.png" type="image/png">
  										<img src="img/media/news-img-4.png" alt="" width="550" height="410" loading="lazy">
  									</picture>
  								</figure>
  							</div>
  
  							<div class="post-news__desc">
  								<div class="post-news__info">
  									<a href="" class="post-news__title title-h2">Новость большая и важная</a>
  									<div class="post-news__date">до 31 декабря</div>
  								</div>
  								<div class="post-news__text">
  									Sed faucibus elit volutpat ac commodo, morbi est tortor orci. Mattis nunc, aliquet imperdiet proin. Eleifend auctor mauris scelerisque lorem amet maecenas.
  								</div>
  							</div>
							</div>
						</article>
					</div>

					<div class="uk-width-1-2@m">
						<article class="post-news">
							<div class="post-news__content">
							  <div class="post-news__img">
  								<figure>
  									<picture>
  										<source srcset="img/media/webp/news-img-2.webp" type="image/webp">
  										<source srcset="img/media/news-img-2.png" type="image/png">
  										<img src="img/media/news-img-2.png" alt="" width="560" height="350" loading="lazy">
  									</picture>
  								</figure>
  							</div>
  
  							<div class="post-news__desc">
  								<div class="post-news__info">
  									<a href="" class="post-news__title title-h2">Новость большая и важная</a>
  									<div class="post-news__date">до 31 декабря</div>
  								</div>
  								<div class="post-news__text">
  									Sed faucibus elit volutpat ac commodo, morbi est tortor orci. Mattis nunc, aliquet imperdiet proin. Eleifend auctor mauris scelerisque lorem amet maecenas.
  								</div>
  							</div>
							</div>
						</article>
					</div>
					<div class="uk-width-1-2@m">
						<article class="post-news">
							<div class="post-news__content">
							  <div class="post-news__img">
  								<figure>
  									<picture>
  										<source srcset="img/media/webp/news-img-1.webp" type="image/webp">
  										<source srcset="img/media/news-img-1.png" type="image/png">
  										<img src="img/media/news-img-1.png" alt="" width="560" height="350" loading="lazy">
  									</picture>
  								</figure>
  							</div>
  
  							<div class="post-news__desc">
  								<div class="post-news__info">
  									<a href="" class="post-news__title title-h2">Новость большая и важная</a>
  									<div class="post-news__date">до 31 декабря</div>
  								</div>
  								<div class="post-news__text">
  									Lorem ipsum dolor sit amet.
  								</div>
  							</div>
							</div>
						</article>
					</div>
					<div class="uk-width-1-1">
						<article class="post-news post-news--no-img">
							<div class="post-news__content">
							  <div class="post-news__img"></div>
  
  							<div class="post-news__desc">
  								<div class="post-news__info">
  									<a href="" class="post-news__title title-h2">А это будет новость без фотографии</a>
  									<div class="post-news__date">26 сентября 2021</div>
  								</div>
  								<div class="post-news__text">
  									Sed faucibus elit volutpat ac commodo, morbi est tortor orci. Mattis nunc, aliquet imperdiet proin. Eleifend auctor mauris scelerisque lorem amet maecenas.
  								</div>
  							</div>
							</div>
						</article>
					</div>

					<div class="uk-width-1-1">
						<article class="post-news post-news--no-img">
							<div class="post-news__img"></div>

							<div class="post-news__desc">
								<div class="post-news__info">
									<a href="" class="post-news__title title-h2">Еще одни скидки</a>
									<div class="post-news__date">14 сентября 2021</div>
								</div>
								<div class="post-news__text">
									Sed faucibus elit volutpat ac commodo, morbi est tortor orci. Mattis nunc, aliquet imperdiet proin. Eleifend auctor mauris scelerisque lorem amet maecenas.
								</div>
							</div>
						</article>
					</div>
				</div>

			</div>
			<div class="h-panel border-vertical uk-text-center">
				<a href="#" class="show-more-item icon-repeat">Показать еще</a>
			</div>

			<div class="h-panel">
				{% include "./pagination.twig" %}
			</div>
		</div>

	</div>
</section>
<!-- end news-block -->
