<!-- begin news-list -->
<div class="news-list">
	<div class="uk-grid">
		<div class="uk-width-3-5@s">
			<article class="post post--big">
				<figure>
					<picture class="post__img">
						<source srcset="img/media/webp/news-img-1.webp" type="image/webp">
						<source srcset="img/media/news-img-1.png" type="image/png">
						<img src="img/media/news-img-1.png" width="670" height="410" alt="Лучшие цены" loading="lazy">
					</picture>
				</figure>
				<div class="post__desc">
					<a href="" class="post__title">Сделаем скидку. Гарантия лучшей цены!</a>
					<div class="post__date">до 31 декабря</div>
				</div>
			</article>
		</div>
		<div class="uk-width-2-5@s">
			<article class="post">
				<figure>
					<picture class="post__img">
						<source srcset="img/media/webp/news-img-2.webp" type="image/webp">
						<source srcset="img/media/news-img-2.png" type="image/png">
						<img src="img/media/news-img-2.png" width="540" height="350" alt="Лучшие цены" loading="lazy">
					</picture>
				</figure>
				<div class="post__desc">
					<a href="" class="post__title">Новая марка, новые цены!</a>
					<div class="post__date">14 июля—18 сентбря</div>
				</div>
			</article>
		</div>

		<div class="uk-width-2-5@s">
			<article class="post">
				<figure>
					<picture class="post__img">
						<source srcset="img/media/webp/news-img-3.webp" type="image/webp">
						<source srcset="img/media/news-img-3.png" type="image/png">
						<img src="img/media/news-img-3.png" width="540" height="350" alt="Лучшие цены" loading="lazy">
					</picture>
				</figure>
				<div class="post__desc">
					<a href="" class="post__title">Поступление новой фурнитуры</a>
					<div class="post__date">14 июля—18 сентбря</div>
				</div>
			</article>
		</div>
		<div class="uk-width-3-5@s">
			<article class="post post--big">
				<a href="">
					<figure>
						<picture class="post__img">
							<source srcset="img/media/webp/news-img-4.webp" type="image/webp">
							<source srcset="img/media/news-img-4.png" type="image/png">
							<img src="img/media/news-img-4.png" width="670" height="410" alt="Лучшие цены" loading="lazy">
						</picture>
					</figure>
					<span class="post__desc">
						<span class="post__title">Дарим подарки на открытие нового шоу-рума</span>
						<span class="post__date">до 31 декабря</span>
					</span>
				</a>
			</article>
		</div>
	</div>
</div>
<!-- end news-list -->
