<!-- begin product-slider -->
<div class="product-slider">
  <div class="container">
    <div class="slider">
  
         <div class="slide">
          <div class="card">
            <div class="card__inner">
              <div class="card__header">
                <a href="">
                  <picture class="card__img">
                    <source srcset="img/media/webp/product-slide-1.webp" type="image/webp">
                    <source srcset="img/media/sliders/product-slide-1.png" type="image/png">
                    <img src="img/media/sliders/product-slide-1.png" alt="" loading="lazy">
                  </picture>
                </a>

                <div class="stocks">
                  
                </div>
                <div class="add-favorite">
                  <a href="" class="icon-fav" uk-tooltip="title: Добавить в избранное; pos: right"></a>
                  <a href="" class="icon-fav-fill uk-hidden"></a>
                </div>
              </div>

              <div class="card__body">
                <div class="card__title"><a href="">Uno Art Line</a></div>
                <div class="card__desc">
                  <div class="card__price">
                    <div class="card__price-old">от 9 870 Р.</div>
                    <div class="card__price-current">от 6 870 Р.</div>
                  </div>
                  <div class="card__stocks">Скидка 50%</div>
                </div>
                </div>
            </div>
          </div>
         </div>

         <div class="slide">
          <div class="card">
            <div class="card__inner">
              <div class="card__header">
                <a href="">
                  <picture class="card__img">
                    <source srcset="img/media/webp/product-slide-2.webp" type="image/webp">
                    <source srcset="img/media/sliders/product-slide-2.png" type="image/png">
                    <img src="img/media/sliders/product-slide-2.png" alt="" loading="lazy">
                  </picture>
                </a>

                <div class="stocks">
                  <div class="stocks__hit">hit</div>
                  <div class="stocks__sale">sale</div>
                </div>
                <div class="add-favorite">
                  <a href="" class="icon-fav uk-hidden" uk-tooltip="title: Добавить в избранное; pos: right"></a>
                  <a href="" class="icon-fav-fill"></a>
                </div>
              </div>

              <div class="card__body">
                <div class="card__title"><a href="">Шервуд</a></div>
                <div class="card__desc">
                  <div class="card__price">
                    <div class="card__price-old">от 6 090 Р.</div>
                    <div class="card__price-current card__price-current--stock">от 3 290 Р.</div>
                  </div>
                  <div class="card__stocks">Скидка 20%</div>
                </div>
                </div>
            </div>
          </div>
         </div>

         <div class="slide">
          <div class="card">
            <div class="card__inner">
              <div class="card__header">
                <a href="">
                  <picture class="card__img">
                    <source srcset="img/media/webp/product-slide-3.webp" type="image/webp">
                    <source srcset="img/media/sliders/product-slide-3.png" type="image/png">
                    <img src="img/media/sliders/product-slide-3.png" alt="" loading="lazy">
                  </picture>
                </a>

                <div class="stocks">
                
                </div>
                <div class="add-favorite">
                  <a href="" class="icon-fav" uk-tooltip="title: Добавить в избранное; pos: right"></a>
                  <a href="" class="icon-fav-fill uk-hidden"></a>
                </div>
              </div>

              <div class="card__body">
                <div class="card__title"><a href="">Александрия-2</a></div>
                <div class="card__desc">
                  <div class="card__price">
                    <div class="card__price-old">от 8 870 Р.</div>
                    <div class="card__price-current card__price-current--stock">от 4 410 Р.</div>
                  </div>
                  <div class="card__stocks">Скидка 35%</div>
                </div>
                </div>
            </div>
          </div>
         </div>

         <div class="slide">
          <div class="card">
            <div class="card__inner">
              <div class="card__header">
                <a href="">
                  <picture class="card__img">
                    <source srcset="img/media/webp/product-slide-4.webp" type="image/webp">
                    <source srcset="img/media/sliders/product-slide-4.png" type="image/png">
                    <img src="img/media/sliders/product-slide-4.png" alt="" loading="lazy">
                  </picture>
                </a>

                <div class="stocks">
                  <div class="stocks__hit">hit</div>
                </div>
                <div class="add-favorite">
                  <a href="" class="icon-fav" uk-tooltip="title: Добавить в избранное; pos: right"></a>
                  <a href="" class="icon-fav-fill uk-hidden"></a>
                </div>
              </div>

              <div class="card__body">
                <div class="card__title"><a href="">Монако</a></div>
                <div class="card__desc">
                  <div class="card__price">
                    <div class="card__price-old">от 21 989 Р.</div>
                    <div class="card__price-current">от 11 290 Р.</div>
                  </div>
                  <div class="card__stocks">Скидка 20%</div>
                </div>
                </div>
            </div>
          </div>
         </div>

         <div class="slide">
          <div class="card">
            <div class="card__inner">
              <div class="card__header">
                <a href="">
                  <picture class="card__img">
                    <source srcset="img/media/webp/product-slide-4.webp" type="image/webp">
                    <source srcset="img/media/sliders/product-slide-4.png" type="image/png">
                    <img src="img/media/sliders/product-slide-4.png" alt="" loading="lazy">
                  </picture>
                </a>

                <div class="stocks">
                  <div class="stocks__hit">hit</div>
                </div>
                <div class="add-favorite">
                  <a href="" class="icon-fav" uk-tooltip="title: Добавить в избранное; pos: right"></a>
                  <a href="" class="icon-fav-fill uk-hidden"></a>
                </div>
              </div>

              <div class="card__body">
                <div class="card__title"><a href="">Монако</a></div>
                <div class="card__desc">
                  <div class="card__price">
                    <div class="card__price-old">от 21 989 Р.</div>
                    <div class="card__price-current">от 11 290 Р.</div>
                  </div>
                  <div class="card__stocks">Скидка 20%</div>
                </div>
                </div>
            </div>
          </div>
         </div>

    </div>
  </div>
</div><!-- end product-slider -->
