<!-- begin detail-reviews -->
<section class="detail-reviews">
	<a href="#review-modal" class="btn btn--lg" uk-toggle>Оставить отзыв</a>

	<div class="reviews-wall">
		<div class="review review--grid">

			<div class="review__text">
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id eos suscipit animi nobis incidunt consequatur, veniam iusto aspernatur itaque porro optio nam distinctio cumque minus cupiditate asperiores error! Maiores, accusantium.
				</p>
			</div>

			<div class="review__info">
				<div class="review__author">Геннадий К.</div>
				<div class="review__date">15.02.2022</div>
			</div>

		</div>

		<div class="review review--grid">

			<div class="review__text">
				<p>Viverra aenean dolor risus sagittis nam.</p>
			</div>

			<div class="review__info">
				<div class="review__author">Иллионора М.</div>
				<div class="review__date">12.11.2021</div>
			</div>

		</div>
	</div>
</section>
<!-- end detail-reviews -->
