<div class="reviews-slider">
	<div class="slider">

		<div class="slide">
			<article class="review">
				<div class="review__text">
					<p>
						Потрясающий магазин дверей и фурнитуры. Вежливые, пунктуальные и квалифицированные менеджеры (отдельная благодарность Ивану). Мы очень довольны качеством и доставкой в регион (Псковская область).
					</p>
				</div>
				<div class="review__info">
					<div class="review__author">Ксения, москва</div>
					<div class="review__date">12 декабря 2021</div>
				</div>
			</article>
		</div>

		<div class="slide">
			<article class="review">
				<div class="review__text">
					<p>
						Больше всего понравилось, что с нами оперативно вышли на связь. Спасибо менеджеру Антону за оперативное решение всех вопросов с поставкой
					</p>
				</div>
				<div class="review__info">
					<div class="review__author">Игорь, Новороссийск</div>
					<div class="review__date">02 ноября 2021</div>
				</div>
			</article>
		</div>

		<div class="slide">
			<article class="review">
				<div class="review__text">
					<p>
						Я всегда покупаю только читая отзывы на яндекс.маркете, но здесь пришлось помучаться с выбором и наткнуоляся на такой замечательный магазин
					</p>
				</div>
				<div class="review__info">
					<div class="review__author">Максим, егорьеск</div>
					<div class="review__date">23 сентября 2021</div>
				</div>
			</article>
		</div>


	</div>
</div>
