<!-- begin seo-tags -->
<ul class="seo-tags">
	<li class="seo-tags__item">
		<a href="#" class="seo-tags__link">Белые двери</a>
	</li>
	<li class="seo-tags__item">
		<a href="#" class="seo-tags__link">Красивые межкомнатные двери</a>
	</li>
	<li class="seo-tags__item active">
		<a href="#" class="seo-tags__link">Двери из шпона</a>
	</li>
	<li class="seo-tags__item">
		<a href="#" class="seo-tags__link">Качественные двери</a>
	</li>
	<li class="seo-tags__item">
		<a href="#" class="seo-tags__link">Недорогие двери</a>
	</li>
	<li class="seo-tags__item">
		<a href="#" class="seo-tags__link">Межкомнатные двери 700х2000</a>
	</li>
</ul>
<!-- end seo-tags -->
