<!-- begin short-info -->
<div class="short-info">
	<div class="geo">
		<a href="#" class="geo__link icon-chevron-down">Челябинск</a>
	</div>
	<div class="short-info__links">
		<a href="tel:+7456289478" class="big-number">+7 (456) 626-64-78</a>
		<a href="#callback-modal" class="blue-link" uk-toggle>Заказать звонок</a>
	</div>
</div>
<!-- end short-info -->
