<!-- begin sort-panel -->
<div class="sort-panel">
	<div class="catalog-bar">
		<div class="uk-grid">
			<div class="uk-width-1-2@s">
				<div class="custom-select">
					<select name="" id="" class="js__custom-select" data-theme="sort-select" data-placeholder="Сортировать по">
						<option></option>
						<option value="1">по популярности</option>
						<option value="2">цена по возрастанию</option>
						<option value="3">цена по убыванию</option>
					</select>
				</div>
			</div>
			<div class="uk-width-1-2@s">
				<div class="sort-grid">
					<div class="sort-grid__label">Вид</div>
					<div class="sort-grid__value">
						<a href="#" class="js__grid-view">
							<svg width="32px" height="32px" class="grid-view">
								<use xmlns:xlink="http://www.w3.org/199 9/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#grid-view"></use>
							</svg>
						</a>
						<a href="#" class="js__list-view active">
							<svg width="32px" height="32px" class="list-view">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#list-view"></use>
							</svg>
						</a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end sort-panel -->
