.attantion-msg {
  position: relative;
  font-size: 12px;
  line-height: 14px;
  color: $darkGray;
  &:before {
    content: "i";
    margin-right: 10px;
    width: 15px;
    height: 15px;
    color: $white;
    display: inline-block;
    text-align: center;
    line-height: 15px;
    background-color: $red;
    border-radius: 50%;
  }
}
