.brand-info-card {
  margin-bottom: 40px;
  padding: 35px 20px 20px;
  border: 1px solid $mediumGray;

  @media (min-width: $tablet-w) {
    margin-bottom: 60px;
  }

  &__img {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 40px;

    a {
      margin-bottom: 5px;
      display: inline-block;
      font-size: 18px;
      line-height: 20px;
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  &__list-links {
    @include list-reset;
    line-height: 1;

    li {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $blue;
    }
  }
}
