.btn {
  padding: 14px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  background-color: $blue;
  transition: background-color 0.3s ease;

  &:hover {
    color: $white;
    background-color: $lightBlue;
  }

  &--lg {
    padding: 14px 68px;
  }

  &--white {
    background-color: #ffffff;
    border: 1px solid $mediumGray;
    color: $blue;
  }
}

.btn-add-cart {
  width: 100%;
  /* max-width: 205px; */
  height: 80px;
  font-family: $mainFont !important;
  font-size: 16px;
  line-height: 18px;
  outline: none;
  &:before {
    margin-right: 16px;
    font-family: "icomoon" !important;
  }
}
