.card {
  transition: transform 0.3s ease;

  &__header {
    position: relative;
    margin-bottom: 20px;
    padding: 0 20px 20px;
    background-color: $gray;

    & > a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 375px;
      overflow: hidden;
    }

    .stocks,
    .add-favorite {
      position: absolute;
      top: 20px;
    }

    .stocks {
      left: 20px;
    }

    .add-favorite {
      right: 20px;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }

  &__img {
    img {
      transition: transform 0.3s ease;
      will-change: transform;
    }
  }

  &__settings {
    @include list-reset;
    font-size: 14px;
    line-height: 18px;
    color: $darkGray;
    li {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__body {
    font-size: 16px;
    line-height: 18px;
  }

  &__title {
    color: $black;
  }

  &__desc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__price {
    margin: 5px 10px 5px 0;
    display: flex;
    align-items: center;
  }

  &__price-old {
    margin-right: 10px;
    text-decoration: line-through;
  }

  &__price-current {
    &--stock {
      color: $red;
    }
  }

  &__stocks {
    padding: 3px 5px;
    font-size: 11px;
    line-height: 12px;
    color: $white;
    background-color: $red;
  }

  &:hover {
    img {
      transform: scale(1.15);
    }

    .colors-list {
      opacity: 1;
      transform: translateX(0);
    }

    .add-favorite {
      opacity: 1;
    }
  }

  .colors-list {
    position: absolute;
    top: 85px;
    right: 25px;
    transform: translateX(10px);
    opacity: 0;
    display: block;
    transition: transform 0.3s, opacity 0.3s ease;

    .color-checkbox {
      .custom-checkbox {
        width: 20px;
        height: 20px;
      }
    }
    & > * {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.stocks {
  position: absolute;
  font-size: 0;
  & > * {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 11px;
    line-height: 12px;
    color: $white;

    &:last-child {
      margin-right: 0;
    }
  }

  &__hit {
    background-color: $blue;
  }

  &__sale {
    background-color: $red;
  }
}

.add-favorite {
  a {
    display: block;
    width: 32px;
    height: 30px;
    font-size: 30px;
    color: #000000;
  }
}
