.gallery-card {
  width: 245px;
  height: 200px;
  @media (min-width: $tablet-w) {
    width: 554px;
    height: 440px;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  picture {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
