.modal-default {
  padding: 0;

  .uk-modal-dialog {
    position: relative;
    margin: 0 0 0 auto;
    width: 100%;
    min-height: 100vh;
    max-width: 940px !important;
    transform: translate(0, 0);
    transition: transform 0.5s ease;

    .container {
      padding: 150px 20px;
      @media (min-width: $tablet-w) {
        padding: 115px;
      }
    }

    .uk-modal-header {
      border: none;
    }

    .uk-modal-header,
    .uk-modal-body {
      padding: 0;
    }

    .uk-modal-close {
      position: absolute;
      top: 30px;
      right: 30px;

      @media (min-width: $tablet-w) {
        top: 50px;
        right: 50px;
      }
      svg {
        width: 42px;
        height: 42px;
        color: $black;
      }
    }
  }

  &.uk-open {
    .uk-modal-dialog {
      transform: translate(0, 0);
    }
  }

  .default-form,
  .politics {
    max-width: 440px;
  }
}
