.news-list {
  margin: 0 auto;
  max-width: 1130px;

  .post {
    margin-bottom: 40px !important;

    @media (min-width: $tablet-w) {
      margin-bottom: 80px !important;
    }
  }
}

.post {
  position: relative;

  figure {
    margin-bottom: 16px;
  }

  &__img {
    position: relative;

    padding-bottom: 80%;
    height: 0;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 20px;
    display: block;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  &__date {
    font-size: 16px;
    line-height: 18px;
    color: $darkGray;
  }

  &--big {
    .post__img {
      padding-bottom: 61%;
    }
  }
}
