.post-news {
  position: relative;
  margin-bottom: 40px !important;
  padding-bottom: 40px;
  height: 100%;
  @media (min-width: $tablet-w) {
    margin-bottom: 80px !important;
    padding-bottom: 80px;
  }

  &__content {
    border-bottom: 1px solid $mediumGray;
    height: 100%;
  }

  &__img {
    margin-bottom: 20px;

    figure {
      position: relative;
      margin: 0;
      padding-bottom: 65%;
      height: 0;

      @media (min-width: $mob-s) {
        padding-bottom: 57%;
      }

      @media (min-width: $tablet-w) {
        padding-bottom: 65%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 0;
      }
    }
  }

  &__info {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 10px;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 14;
    }
  }

  &__date {
    color: $darkGray;
    font-size: 20px;
    line-height: 30px;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;

    @media (min-width: $mob-s) {
      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width: $tablet-w) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &--horizontal {
    @media (min-width: $tablet-w) {
      .post-news__content {
        display: flex;
      }
      
      .post-news__img,
      .post-news__desc {
        width: 50%;
      }

      .post-news__img {
        margin: 0;

        figure {
          @media (min-width: $tablet-w) {
            padding-bottom: 73%;
          }
        }
      }

      .post-news__desc {
        padding-left: 20px;
      }
    }
  }

  &--no-img {
    .post-news__img {
      display: none;
    }

    @media (min-width: $mob-s) {
      .post-news__desc {
        display: flex;
      }

      .post-news__info,
      .post-news__text {
        width: 50%;
      }

      .post-news__text {
        padding-left: 20px;
      }
    }
  }
}
