{% extends "../notification-modal.twig" %}
{% set modal = {id: 'add-to-basket-modal', class: '', title: 'Товар добавлен в корзину'} %}

{% block content %}
	<p>Перейдите в корзину для оформления заказа или продолжите покупки.</p>
	<a href="" class="btn btn--lg">Перейти в корзину</a>

{% endblock %}
