{% extends "../notification-modal.twig" %}
{% set modal = {id: 'empty-basket-modal', class: '', title: 'Ваша корзина пуста'} %}

{% block content %}
	<p>Перейдите в каталог,  чтобы продолжить покупки</p>
	<a href="" class="btn btn--lg">Перейти в каталог</a>

{% endblock %}
