{% extends "../notification-modal.twig" %}
{% set modal = {id: 'fav-modal', class: '', title: 'Для того, чтобы добавить товар в избранное, Вы должны быть авторизованы'} %}

{% block content %}

	<a href="" class="btn btn--lg">Войти</a>

{% endblock %}
