.catalog {
  &-header {
    p {
      @media (min-width: $tablet-w) {
        max-width: 80%;
      }
    }
  }
}

.catalog-body {
  &__item {
    margin-bottom: 50px !important;
  }
}

.catalog-body__list {
  &.grid-view {
    .card-horizontal {
      display: none;
    }

    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;

    .card {
      margin-bottom: 50px !important;
      padding-left: 20px;
      width: 100%;
      @media (min-width: $mob-s) {
        width: 50%;
      }

      @media (min-width: $tablet-w) {
        width: 33%;
      }

      @media (min-width: $desk-w) {
        width: 25%;
      }
    }
  }

  &.list-view {
    margin-bottom: 40px;
    .card {
      display: none;
    }
  }
}
