.seo-tags {
  @include list-reset;
  display: flex;
  flex-wrap: nowrap;
  padding: 5px 0;
  overflow-x: auto;

  @media (min-width: $tablet-w) {
    flex-wrap: wrap;
    overflow: unset;
    padding: 0;
  }

  &__item {
    margin: 0 10px 10px 0;
    white-space: nowrap;
    &:last-child {
      margin-right: 0;
    }

    &.active {
      .seo-tags__link {
        color: $white;
        background-color: $black;
      }
    }
  }

  &__link {
    padding: 8px 16px;
    font-size: 16px;
    line-height: 18px;
    color: $black;
    border-radius: 20px;
    border: 1px solid $black;
    transition: background-color 0.3s, color 0.3s ease;

    &:hover {
      color: $white;
      background-color: $black;
    }
  }

  .custom-checkbox {
    margin: 0;
    padding: 0;
    overflow: hidden;
    input[type="checkbox"] {
      &:checked ~ .custom-checkbox__label {
        color: #ffffff;
        background-color: #333333;
      }
    }
  }

  .custom-checkbox__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
  }

  .custom-checkbox__label {
    padding: 8px 16px;
  }
}
