{% block content %}

	<section id="detail-info" class="section-default detail-info">
		<div class="container">
			<div class="section-default__inner">
				<div class="uk-grid">
					<div class="uk-width-expand@m">
						<ul class="tabs" uk-switcher>
							<li>
								<a href="#">Свойства товара</a>
							</li>
							<li>
								<a href="№">Описание</a>
							</li>
							<li class="uk-active">
								<a href="#">Отзывы (<span class="count">2</span>)</a>
							</li>
						</ul>

						<ul class="uk-switcher">
							<li>
								<table class="detail-table">
									<tr>
										<td>Производитель</td>
										<td>Regidoors, г. Йошкар-Ола</td>
									</tr>
									<tr>
										<td>Размер дверного блока</td>
										<td>2045х900 / 2045х980</td>
									</tr>
									<tr>
										<td>Толщина полотна мм.</td>
										<td>97-117</td>
									</tr>
									<tr>
										<td>Толщина листа металла мм.</td>
										<td>1.5</td>
									</tr>
									<tr>
										<td>Класс прочности</td>
										<td>М4</td>
									</tr>
									<tr>
										<td>Значение по эксплутационным характеристикам</td>
										<td>Класс 1</td>
									</tr>
									<tr>
										<td>Класс устойчивости к взлому</td>
										<td>Класс устойчивости к взлому</td>
									</tr>
									<tr>
										<td>Количество петель</td>
										<td>3</td>
									</tr>
									<tr>
										<td>Противосъемы</td>
										<td>2</td>
									</tr>
									<tr>
										<td>Регулировка прижима</td>
										<td>да</td>
									</tr>
									<tr>
										<td>Короб</td>
										<td>Закрытый, утеплённый. 115х60 мм.</td>
									</tr>
									<tr>
										<td>Вылет наличника от короба</td>
										<td>80</td>
									</tr>
									<tr>
										<td>Крепление</td>
										<td>На уши</td>
									</tr>
									<tr>
										<td>Утеплитель</td>
										<td>Базальтовая плита</td>
									</tr>
									<tr>
										<td>Усиление замковой зоны</td>
										<td>1,5 мм</td>
									</tr>
									<tr>
										<td>Ночная задвижка</td>
										<td>Да</td>
									</tr>
									<tr>
										<td>Терморазрыв</td>
										<td>нет</td>
									</tr>
									<tr>
										<td>Усиление замковой зоны</td>
										<td>Да</td>
									</tr>
									<tr>
										<td>Вес двери</td>
										<td>11 289 г</td>
									</tr>
								</table>
							</li>
							<li>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quas quibusdam qui obcaecati animi laborum est consequuntur. Non, aliquam adipisci.</p>
							</li>
							<li>
								{% include "../components/reviews.twig" %}
							</li>
						</ul>
					</div>
					<div class="uk-width-1-4@m">
						<aside class="promo-info" uk-sticky="bottom: #detail-info">
							<div class="brand-info-card">
								<picture class="brand-info-card__img">
									<img src="img/media/brands/brand-preview-img-6.png" width="117" height="70" alt="Porte Vista" loading="lazy">
								</picture>
								<div class="brand-info-card__title">
									<a href="">Фабрика PORTE VISTA</a>
									<div class="small-gray-title">7 товаров</div>
								</div>

								<ul class="brand-info-card__list-links">
									<li>
										<a href="">Все товары категории</a>
									</li>
									<li>
										<a href="">Все товары бренда</a>
									</li>
								</ul>
							</div>

							<div class="short-card">
								<div class="short-card__img">
									<figure>
										<picture>
											<source srcset="img/media/webp/catalog-main-img-3.webp" type="image/webp">
											<source srcset="img/media/catalog/catalog-main-img-3.png" type="image/png">
											<img src="img/media/catalog/catalog-main-img-3.png" width="325" height="252" alt="" loading="lazy">
										</picture>
									</figure>
								</div>
								<div class="short-card__desc">
									<a href="" class="short-card__title">комлектующие к дверям</a>
									<div class="short-card__count">1 189 товаров</div>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% include "../sections/similar-section.twig" %}
	{% include "../sections/similar-section-slider.twig" %}
	{% include "../components/news-list.twig" %}
{% endblock %}
