<!-- begin detail-card-slider -->
<div class="detail-card-slider">

	<div class="detail-card-slider-hero">
		{% for i in 1..5 %}
			<div class="slide">
				<div class="doors-image-wrapper" uk-lightbox>
					<div class="uk-grid">
						<div class="uk-width-1-1">
							<div class="door-frontface">
								<a href="img/media/sliders/detail-card-hero.png">
									<picture>
										<source srcset="img/media/webp/detail-card-hero.webp" type="image/webp">
										<source srcset="img/media/sliders/detail-card-hero.png" type="image/png">
										<img src="img/media/sliders/detail-card-hero.png" width="203" height="460" alt="Президент Люкс" loading="lazy">
									</picture>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="detail-card-slider-preview">

		{% for i in 1..5 %}
			<div class="slide">
				<picture>
					<source srcset="img/media/webp/detail-card-preview-{{i}}.webp" type="image/webp">
					<source srcset="img/media/sliders/detail-card-preview-{{i}}.png" type="image/png">
					<img src="img/media/sliders/detail-card-preview-{{i}}.png" width="32" height="72" alt="Президент Люкс" loading="lazy">
				</picture>
			</div>
		{% endfor %}
	</div>

	<div class="stocks">
		<div class="stocks__sale">sale</div>
		<div class="stocks__hit">hit</div>
	</div>

	<div class="add-favorite">
		<a href="" class="icon-fav" uk-tooltip="title: Добавить в избранное; pos: right"></a>
		<a href="" class="icon-fav-fill uk-hidden"></a>
	</div>

</div>
<!-- end detail-card-slider -->
