.detail-card {
  margin-bottom: 40px;

  @media (min-width: $tablet-w) {
    margin-bottom: 80px;
  }

  &__inner {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
  }
}

.detail-info {
  .uk-switcher {
    @media (min-width: $tablet-w) {
      padding-right: 40px;
    }
  }
}

.price {
  margin-bottom: 20px;
  margin-right: 16px;
  display: inline-flex;
  align-items: center;
  &__old {
    margin-right: 10px;
    font-size: 16px;
    line-height: 18px;
    text-decoration: line-through;
  }

  &__current {
    font-size: 30px;
    line-height: 36px;
  }
}

.stock {
  padding: 3px 5px;
  display: inline-block;
  font-size: 11px;
  line-height: 12px;
  color: #ffffff;
  &--bg-red {
    background-color: $red;
  }
}
