{% extends "./default-modal.twig" %}
{% set modal = {id: 'colors-fur-modal', class: 'colors-fur-modal', title: 'Цвет фурнитуры'} %}

{% block content %}

	<div class="colors-panel-list">
		<div class="colors-panel__group">
			<div class="color-panel color-panel--big active">
				<picture class="color-panel__img">
					<source srcset="img/media/webp/color-panel-big-1.webp" type="image/webp">
					<source srcset="img/media/color-panel-1-big.png" type="image/png">
					<img src="img/media/color-panel-1-big.png" width="170" height="170" alt="шпон" loading="lazy">
				</picture>
				<div class="color-panel__title">Комплект хром базовая
					<br>
					Входит в стоимость</div>
				<div class="color-panel__price"></div>
				<div class="title-count green">В наличии</div>
			</div>
			<div class="color-panel color-panel--big">
				<picture class="color-panel__img">
					<source srcset="img/media/webp/color-panel-big-2.webp" type="image/webp">
					<source srcset="img/media/color-panel-big-2.png" type="image/png">
					<img src="img/media/color-panel-big-2.png" width="170" height="170" alt="шпон" loading="lazy">
				</picture>
				<div class="color-panel__title">Комплект бронза</div>
				<div class="color-panel__price">
					+ 2 670 Р.</div>
				<div class="title-count red">Остаток — 5 компл.</div>
			</div>

		</div>
	</div>
	<a href="" class="btn btn--lg">Выбрать</a>


{% endblock %}
