{% block content %}

	<footer class="footer">
		<div class="container">
			<div class="footer__top">
				<div class="uk-grid uk-grid-collapse">
					<div class="uk-width-1-2 uk-width-1-3@s uk-width-1-5@m">
						<ul class="footer-nav">
							<li class="footer-nav__item">
								<a href="#" class="footer-nav__link">Каталог</a>
							</li>
							<li class="footer-nav__item stock-item">
								<a href="#" class="footer-nav__link">Акции</a>
							</li>
							<li class="footer-nav__item">
								<a href="#" class="footer-nav__link">Услуги</a>
							</li>
							<li class="footer-nav__item">
								<a href="#" class="footer-nav__link">Бренды</a>
							</li>
						</ul>
					</div>
					<div class="uk-width-1-2 uk-width-2-3@s uk-width-1-2@m">

						<div class="uk-grid uk-grid-collapse">
							<div class="uk-width-1-3@s">
								<div class="footer__column-wrapper">
									<div class="footer__title">
										Компания
										<i class="icon-chevron-right js__mobile-sublist-toggle"></i>
									</div>
									<ul class="footer-sublist">
										<li class="footer-sublist__item">
											<a href="#" class="footer-sublist__link">О компании</a>
										</li>
										<li class="footer-sublist__item">
											<a href="#" class="footer-sublist__link">Услуги</a>
										</li>
										<li class="footer-sublist__item">
											<a href="#" class="footer-sublist__link">Команда</a>
										</li>
										<li class="footer-sublist__item">
											<a href="#" class="footer-sublist__link">Отзывы</a>
										</li>
										<li class="footer-sublist__item">
											<a href="#" class="footer-sublist__link">Карьера</a>
										</li>
										<li class="footer-sublist__item">
											<a href="#" class="footer-sublist__link">Партнеры</a>
										</li>
										<li class="footer-sublist__item">
											<a href="#" class="footer-sublist__link">Лицензия</a>
										</li>
										<li class="footer-sublist__item">
											<a href="#" class="footer-sublist__link">Документы</a>
										</li>
										<li class="footer-sublist__item">
											<a href="#" class="footer-sublist__link">Контакты</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="uk-width-1-3@s">
								<div class="footer__column-wrapper">
									<div class="footer__title">
										Информация
										<i class="icon-chevron-right js__mobile-sublist-toggle"></i>
									</div>
									<ul class="footer-sublist">
										<li class="footer-sublist__item">
											<a href="#" class="footer-sublist__link">Для дилеров</a>
										</li>
										<li class="footer-sublist__item">
											<a href="#" class="footer-sublist__link">Магазины</a>
										</li>
										<li class="footer-sublist__item">
											<a href="#" class="footer-sublist__link">Реквизиты</a>
										</li>
										<li class="footer-sublist__item">
											<a href="#" class="footer-sublist__link">Политика</a>
										</li>
										<li class="footer-sublist__item">
											<a href="#" class="footer-sublist__link">Возможности</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="uk-width-1-3@s">
								<div class="footer__column-wrapper">
									<div class="footer__title">
										Помощь
										<i class="icon-chevron-right js__mobile-sublist-toggle"></i>
									</div>
									<ul class="footer-sublist">
										<li class="footer-sublist__item">
											<a href="#" class="footer-sublist__link">Условия оплаты</a>
										</li>
										<li class="footer-sublist__item">
											<a href="#" class="footer-sublist__link">Условия доставки</a>
										</li>
										<li class="footer-sublist__item">
											<a href="#" class="footer-sublist__link">Гарантия на товар</a>
										</li>
										<li class="footer-sublist__item">
											<a href="#" class="footer-sublist__link">Вопрос-ответ</a>
										</li>
										<li class="footer-sublist__item">
											<a href="#" class="footer-sublist__link">Обзоры
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
					<div class="uk-width-expand">
						<div class="footer__contacts">
							<div class="footer__contacts-item">
								<div class="dropdown">
									<div class="dropdown__title icon-chevron-down">
										<a href="tel:+745666289478" class="big-number">+7(456) 628-94-78</a>
									</div>
									<ul class="dropdown__list">
										<li>
											<a href="tel:+745666289478">+7(456) 999-99-99</a>
										</li>
										<li>
											<a href="tel:+745666289478">+7(456) 999-99-99</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="footer__contacts-item">
								<a href="#callback-modal" uk-toggle class="gray-link">Заказать звонок</a>
							</div>
							<div class="footer__contacts-item">
								<a href="mailto:info@lytikoze.beget.tech">info@lytikoze.beget.tech</a>
							</div>
							<div class="footer__address">Челябинск, ул. Лермонтова 21, 3 этаж, офис 4</div>
						</div>

						<div class="mailing-form-wrapper">
							<form action="" class="mailing-form">
								<input type="text" placeholder="Подписаться на рассылку">
								<button type="submit" class="mailing-form__btn icon-envelope"></button>
							</form>
						</div>

						<ul class="soc-list">
							<li class="soc-list__item">
								<a href="#" class="soc-list__link icon-vk"></a>
							</li>
							<li class="soc-list__item">
								<a href="#" class="soc-list__link icon-fb"></a>
							</li>
							<li class="soc-list__item">
								<a href="#" class="soc-list__link icon-insta"></a>
							</li>
							<li class="soc-list__item">
								<a href="#" class="soc-list__link icon-ok"></a>
							</li>
							<li class="soc-list__item">
								<a href="#" class="soc-list__link icon-tg"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="footer__bottom">
				<div class="left-side">
					<div class="copyright">2021. ДвериКупить.</div>
					<div class="politics">
						<a href="">Полтики конфиденциальности</a>
					</div>
				</div>

				<div class="right-side">
					<div class="dev">
						<a href="https://aevrika.ru" target="_blank">Разработка и продвижение — ЭВРИКА</a>
					</div>
				</div>
			</div>
		</div>
	</footer>

{% endblock %}
